body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#buildStatus {
    padding-top: 16px;
    color: #777;
}

.navbar {
    margin-bottom: 20px;
}

.pages > .page:target ~ .page:last-child, .pages > .page {
    display: none;
}

/* :last-child works, but for some reason .page:last-child will not */
.pages > :last-child, .pages > .page:target {
    display: block;
}

:target:before {
    content: "";
    display: block;
    height: 60px; /* fixed header height*/
    margin: -60px 0 0;
}
