/*************/
/*  CONTENT  */
/*************/

/* Heading -- Standard icon (Full-width) */
.main h1.pagetitle {
    margin: 0 0 0.5em 0;
    padding: 1px 0 1px 32px;
    background: url(../img/icon_pagetitle.gif) no-repeat;
    background-position: center left;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 220% !important /*Non-IE6*/;
    font-size: 200% /*IE6*/;
}

.content h1 {
    margin: 0;
    padding: 5px 50px 12px 20px;
    border-bottom: solid 1px rgb(215, 215, 215);
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 220% !important /*Non-IE6*/;
    font-size: 200% /*IE6*/;
}

.content h2 {.
    clear: both; /*Start IE Hack*/
    position: relative;
    z-index: 1;
    top: -1px /* End IE Hack to remove vertical -1px margin bug otherwise produced by margin*/;
    margin: 0 20px 0 20px;
    padding: 15px 35px 5px 0;
    background-position: right 15px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 180% !important /*Non-IE6*/;
    font-size: 160% /*IE6*/;
}

.content h3 {
    margin: 1.0em 0 -0.3em 0;
    padding: 0 20px 0 40px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 180% !important /*Non-IE6*/;
    font-size: 160% /*IE6*/;
}

.content h3.line { /*Start IE Hack*/
    position: relative;
    z-index: 1;
    top: -1px; /* End IE Hack vertical alignment to blend top border with h1, if directly after each other*/
    margin: 0 20px -0.3em 20px;
    padding: 1.0em 0 0 0;
    border-top: solid 1px rgb(215, 215, 215);
}

.content h4 {
    margin: 1.0em 0 -0.3em 0;
    padding: 0 20px 0 20px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 160% !important /*Non-IE6*/;
    font-size: 140% /*IE6*/;
}

.content h5 {
    margin: 1.0em 0 -0.5em 0;
    padding: 0 20px 0 20px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 140% !important /*Non-IE6*/;
    font-size: 125% /*IE6*/;
}

.content h6 {
    margin: 0.4em 0 0.5em 0;
    padding: 0 20px 0 20px;
    color: rgb(50, 50, 50);
    font-weight: normal;
    font-size: 130% !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}

/* Heading -- Special icon (Full-width) */
.content h1.contact {
    background: url(../img/icon_celltitle_contact.gif) no-repeat;
    background-position: 616px 5px;
}

.content h1.login {
    background: url(../img/icon_celltitle_login.gif) no-repeat;
    background-position: 635px 5px;
}

.content h1.search {
    background: url(../img/icon_celltitle_search.gif) no-repeat;
    background-position: 631px 5px;
}

.content h1.video {
    background: url(../img/icon_celltitle_video.gif) no-repeat;
    background-position: 637px 5px;
}

.content h1.audio {
    background: url(../img/icon_celltitle_audio.gif) no-repeat;
    background-position: 631px 5px;
}

.content h1.webtemplate {
    background: url(../img/icon_celltitle_webtemplate.gif) no-repeat;
    background-position: 632px 5px;
}

.content h1.document {
    background: url(../img/icon_celltitle_document.gif) no-repeat;
    background-position: 635px 5px;
}

.content h1.blog {
    background: url(../img/icon_celltitle_blog.gif) no-repeat;
    background-position: 639px 5px;
}

.content h1.forum {
    background: url(../img/icon_celltitle_forum.gif) no-repeat;
    background-position: 635px 5px;
}

/* Heading -- Standard icon (Half-width) */
.content-subcell-left-box h1, .content-subcell-right-box h1 {
    margin: 0;
    padding: 5px 50px 12px 20px;
    border-bottom: solid 1px rgb(215, 215, 215);
    background: url(../img/icon_celltitle_level1.gif) no-repeat;
    background-position: 289px 3px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 220% !important /*Non-IE6*/;
    font-size: 200% /*IE6*/;
}

/* Heading -- Special icon (Half-width) */
.content-subcell-left-box h1.contact, .content-subcell-right-box h1.contact {
    background: url(../img/icon_celltitle_contact.gif) no-repeat;
    background-position: 273px 5px;
}

.content-subcell-left-box h1.login, .content-subcell-right-box h1.login {
    background: url(../img/icon_celltitle_login.gif) no-repeat;
    background-position: 292px 5px;
}

.content-subcell-left-box h1.search, .content-subcell-right-box h1.search {
    background: url(../img/icon_celltitle_search.gif) no-repeat;
    background-position: 288px 5px;
}

.content-subcell-left-box h1.video, .content-subcell-right-box h1.video {
    background: url(../img/icon_celltitle_video.gif) no-repeat;
    background-position: 294px 5px;
}

.content-subcell-left-box h1.audio, .content-subcell-right-box h1.audio {
    background: url(../img/icon_celltitle_audio.gif) no-repeat;
    background-position: 288px 5px;
}

.content-subcell-left-box h1.webtemplate, .content-subcell-right-box h1.webtemplate {
    background: url(../img/icon_celltitle_webtemplate.gif) no-repeat;
    background-position: 289px 5px;
}

.content-subcell-left-box h1.document, .content-subcell-right-box h1.document {
    background: url(../img/icon_celltitle_document.gif) no-repeat;
    background-position: 292px 5px;
}

.content-subcell-left-box h1.blog, .content-subcell-right-box h1.blog {
    background: url(../img/icon_celltitle_blog.gif) no-repeat;
    background-position: 296px 5px;
}

.content-subcell-left-box h1.forum, .content-subcell-right-box h1.forum {
    background: url(../img/icon_celltitle_forum.gif) no-repeat;
    background-position: 292px 5px;
}

/* Heading -- No icon */
.main h1.pagetitle-noicon {
    margin: 0 0 0.5em 0;
    padding: 1px 0 1px 0;
    background: none;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 220% !important /*Non-IE6*/;
    font-size: 200% /*IE6*/;
}

.content h1.noicon {
    background: none;
}

.content h2.noicon {
    background: none;
}

/* Paragraph text */
.content p {
    margin: 1.0em 0 1.0em 0;
    color: rgb(0, 0, 0);
    line-height: 1.3em;
    padding: 0 20px 0 20px;
    font-size: 14px !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}

.content p.details {
    margin: -0.2em 0 1.0em 0;
    line-height: 1.0em;
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}

.content blockquote {
    clear: both;
    margin: 0 30px 0.6em 30px;
    font-size: 90%;
}

/* List */
.content ul {
    margin: -1.0em 0 -0.5em 0;
    padding: 1.5em 20px 1.0em 20px;
    list-style: none;
}

.content ul li {
    margin: 0 0 0.3em 2px;
    padding: 0 0 0 12px;
    background: url(../img/bg_bullet_square.gif) no-repeat 0 0.5em;
    line-height: 1.3em;
    font-size: 131% !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}

.content ol {
    margin: -1.0em 0 -0.5em 0;
    padding: 1.5em 20px 1.0em 40px !important /*Non-IE6*/;
    padding: 0 20px 0 50px /*IE6*/;
}

.content ol li {
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0 0 0.3em 3px;
    line-height: 1.3em;
    font-size: 131% !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}

.content ul.indent {
    padding: 1.5em 50px 1.0em 50px;
}

.content ol.indent {
    padding: 1.5em 20px 1.0em 70px !important /*Non-IE6*/;
    padding: 0 20px 0 80px /*IE6*/;
}

/* Table */
.content table {
    clear: both;
    width: 400px;
    margin: 2.0em 0 0.2em 20px;
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    background-color: rgb(233, 232, 244);
}

.content table.medium {
    clear: both;
    width: 290px;
    margin: 2.0em 0 0.2em 20px;
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    background-color: rgb(233, 232, 244);
}

.content table th.top {
    height: 3.5em;
    padding: 0 7px 0 7px;
    empty-cells: show;
    background-color: rgb(175, 175, 175);
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}

.content table th {
    height: 3.0em;
    padding: 2px 20px 2px 7px;
    border: solid 2px rgb(245, 245, 245);
    background-color: rgb(225, 225, 225);
    text-align: left;
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}

.content table td {
    height: 3.0em;
    padding: 2px 7px 2px 7px;
    border: solid 2px rgb(245, 245, 245);
    background-color: rgb(225, 225, 225);
    text-align: left;
    font-weight: normal;
    color: rgb(80, 80, 80);
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}

.content p.caption {
    clear: both;
    margin: 0.5em 0 2.0em 0;
    text-align: left;
    color: rgb(80, 80, 80);
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}

/* Contact form (full-width) */
.contactform {
    width: 636px;
    margin: 1.0em 10px 0 20px;
}

.contactform fieldset {
    padding: 10px 0 10px 0 !important /*Non-IE6*/;
    padding: 0 /*IE6*/;
    margin: 0 0 20px 0;
    border: solid 1px rgb(220, 220, 220);
}

.contactform fieldset legend {
    margin: 0 0 0 5px !important /*Non-IE*/;
    margin: 0 0 20px 5px /*IE6*/;
    padding: 0 2px 0 2px;
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: 131%;
}

.contactform label.left {
    float: left;
    width: 100px;
    margin: 0 0 0 10px;
    padding: 2px;
    font-size: 100%;
}

.contactform select.combo {
    width: 175px;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    font-size: 100%;
}

.contactform input.field {
    width: 275px;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    font-size: 100%;
}

.contactform textarea {
    width: 275px;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    font-size: 100%;
}

.contactform input.button {
    float: left;
    width: 9.0em;
    margin-left: 115px !important /*Non-IE6*/;
    margin-left: 118px /*IE6*/;
    padding: 3px !important /*Non-IE6*/;
    padding: 2px /*IE6*/;
    background: rgb(230, 230, 230);
    border: solid 1px rgb(150, 150, 150);
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 100%;
}

.contactform input.button:hover {
    cursor: pointer;
    border: solid 1px rgb(80, 80, 80);
    background: rgb(220, 220, 220);
    color: rgb(80, 80, 80);
}

/* Contact form (half-width) */
.content-subcell-left-nobox .contactform, .content-subcell-right-nobox .contactform, .content-subcell-left-box .contactform, .content-subcell-right-box .contactform {
    width: 297px;
    margin: 1.0em 10px 0 20px;
}

.content-subcell-left-nobox .contactform fieldset, .content-subcell-right-nobox .contactform fieldset, .content-subcell-left-box .contactform fieldset, .content-subcell-right-box .contactform fieldset {
    padding: 10px 0 10px 0 !important /*Non-IE6*/;
    padding: 0 /*IE6*/;
    margin: 0 0 20px 0;
    border: solid 1px rgb(220, 220, 220);
}

.content-subcell-left-nobox .contactform fieldset legend, .content-subcell-right-nobox .contactform fieldset legend, .content-subcell-left-box .contactform fieldset legend, .content-subcell-right-box .contactform fieldset legend {
    margin: 0 0 0 5px !important /*Non-IE*/;
    margin: 0 0 20px 5px /*IE6*/;
    padding: 0 2px 0 2px;
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: 131%;
}

.content-subcell-left-nobox .contactform label.left, .content-subcell-right-nobox .contactform label.left, .content-subcell-left-box .contactform label.left, .content-subcell-right-box .contactform label.left {
    float: left;
    width: 100px;
    margin: 0;
    padding: 2px;
    font-size: 100%;
}

.content-subcell-left-nobox .contactform select.combo, .content-subcell-right-nobox .contactform select.combo, .content-subcell-left-box .contactform select.combo, .content-subcell-right-box .contactform select.combo {
    width: 140px;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    font-size: 100%;
}

.content-subcell-left-nobox .contactform input.field, .content-subcell-right-nobox .contactform input.field, .content-subcell-left-box .contactform input.field, .content-subcell-right-box .contactform input.field {
    width: 135px;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    font-size: 100%;
}

.content-subcell-left-nobox .contactform textarea, .content-subcell-right-nobox .contactform textarea, .content-subcell-left-box .contactform textarea, .content-subcell-right-box .contactform textarea {
    width: 242px;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    font-size: 100%;
}

.content-subcell-left-nobox .contactform input.button, .content-subcell-right-nobox .contactform input.button, .content-subcell-left-box .contactform input.button, .content-subcell-right-box .contactform input.button {
    float: left;
    width: 9.0em;
    margin-left: 130px !important /*Non-IE6*/;
    margin-left: 133px /*IE6*/;
    padding: 3px !important /*Non-IE6*/;
    padding: 2px /*IE6*/;
    background: rgb(230, 230, 230);
    border: solid 1px rgb(150, 150, 150);
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 100%;
}

.content-subcell-left-nobox .contactform input.button:hover, .content-subcell-right-nobox .contactform input.button:hover, .content-subcell-left-box .contactform input.button:hover, .content-subcell-right-box .contactform input.button:hover {
    cursor: pointer;
    border: solid 1px rgb(80, 80, 80);
    background: rgb(220, 220, 220);
    color: rgb(80, 80, 80);
}

/* Login form (full-width)*/
.content .loginform {
    width: 636px;
    margin: 1.0em 10px 0 20px;
}

.content .loginform p {
    clear: both;
    margin: 0;
    padding: 0;
}

.content .loginform fieldset {
    width: 160px;
    border: none;
}

.content .loginform label.top {
    float: left;
    width: 125px;
    margin: 0 0 2px 0;
    font-size: 110%;
}

.content .loginform label.right {
    float: left;
    width: 125px;
    margin: 5px 0 0 0;
    padding: 0 0 0 3px; /*IE6*/;
    font-size: 110%;
}

.content .loginform input.field {
    width: 158px;
    margin: 0 0 5px 0;
    padding: 0.1em 0 0.2em 0 !important /*Non-IE6*/;
    padding: 0.2em 0 0.3em 0 /*IE6*/;
    border: solid 1px rgb(200, 200, 200);
    font-size: 110%;
}

.content .loginform input.checkbox {
    float: left;
    margin: 5px 0 0 0 !important /*Non-IE6*/;
    margin: 2px 0 0 -3px /*IE6*/;
    border: none;
}

.content .loginform input.button {
    float: left;
    width: 5.0em;
    margin: 10px 0 5px 0;
    padding: 1px;
    background: rgb(230, 230, 230);
    border: solid 1px rgb(150, 150, 150);
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 110%;
}

.content .loginform input.button:hover {
    cursor: pointer;
    border: solid 1px rgb(80, 80, 80);
    background: rgb(220, 220, 220);
    color: rgb(80, 80, 80);
}

/* Login form (half-width)*/
.content-subcell-left-nobox .loginform, .content-subcell-right-nobox .loginform, .content-subcell-left-box .loginform, .content-subcell-right-box .loginform {
    width: 297px;
    margin: 1.0em 10px 0 20px;
}

/* Search form (full-width)*/
.content .searchform {
    width: 636px;
    margin: 1.0em 10px 0 20px;
}

.content .searchform fieldset {
    border: none;
}

.content .searchform input.field {
    float: left;
    width: 158px;
    padding: 3px 0 3px 0;
    border: 1px solid rgb(200, 200, 200);
    font-size: 120%;
}

.content .searchform input.button {
    clear: both;
    float: left;
    width: 3.0em;
    margin-top: 0.5em;
    padding: 1px;
    background: rgb(230, 230, 230);
    border: solid 1px rgb(150, 150, 150);
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 120%;
}

.content .searchform input.button:hover {
    cursor: pointer;
    border: solid 1px rgb(80, 80, 80);
    background: rgb(220, 220, 220);
    color: rgb(80, 80, 80);
}

/* Search form (half-width)*/
.content-subcell-left-nobox .searchform, .content-subcell-right-nobox .searchform, .content-subcell-left-box .searchform, .content-subcell-right-box .searchform {
    width: 297px;
    margin: 1.0em 10px 0 20px;;
}

/* Media player (full-width)*/
.content .videoplayer {
    width: 626px;
    height: 372px;
    margin: 10px 20px 10px 20px;
    border: solid 5px rgb(175, 175, 175);
}

.content .audioplayer {
    width: 626px;
    height: 20px;
    margin: 10px 20px 10px 20px;
    border: solid 5px rgb(175, 175, 175);
}

/* Media player (half-width)*/
.content-subcell-left-nobox .videoplayer, .content-subcell-right-nobox .videoplayer, .content-subcell-left-box .videoplayer, .content-subcell-right-box .videoplayer {
    width: 283px;
    height: 180px;
    margin: 10px 20px 10px 20px;
    border: solid 5px rgb(175, 175, 175);
}

.content-subcell-left-nobox .audioplayer, .content-subcell-right-nobox .audioplayer, .content-subcell-left-box .audioplayer, .content-subcell-right-box .audioplayer {
    width: 283px;
    height: 20px;
    margin: 10px 20px 10px 20px;
    border: solid 5px rgb(175, 175, 175);
}

/****************/
/*  SUBCONTENT  */
/****************/

/* Heading -- Standard icon */
.subcontent h1 {
    margin: 0;
    padding: 5px 20px 12px 20px;
    border-bottom: solid 1px rgb(215, 215, 215);
    /*background: url(../img/icon_celltitle_level1.gif) no-repeat;*/
    /*background-position: 225px 5px;*/
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 220% !important /*Non-IE6*/;
    font-size: 200% /*IE6*/;
}

.subcontent h2 { /*Start IE Hack*/
    position: relative;
    z-index: 1;
    top: -1px; /* End IE Hack to remove vertical -1px margin bug otherwise produced by margin*/
    margin: 0 20px 0 20px;
    padding: 15px 35px 5px 0;
    border-top: solid 1px rgb(215, 215, 215);
    /*background: url(../img/icon_celltitle_level2.gif) no-repeat;*/
    /*background-position: right 15px;*/
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 180% !important /*Non-IE6*/;
    font-size: 160% /*IE6*/;
}

.subcontent h3 {
    /* margin: 1.0em 0 -0.3em 0; */
    padding: 5px 20px;
    color: rgb(125, 125, 125);
    font-weight: bold;
    font-size: 180% !important /*Non-IE6*/;
    font-size: 160% /*IE6*/;
}

.subcontent h3.line { /*Start IE Hack*/
    position: relative;
    z-index: 1;
    top: -1px; /* End IE Hack vertical alignment to blend top border with h1, if directly after each other*/
    margin: 0 20px -0.3em 20px;
    padding: 1.0em 0 0 0;
    border-top: solid 1px rgb(215, 215, 215);
}

.subcontent h4 {
    margin: 1.0em 0 -0.3em 0;
    padding: 0 20px 0 20px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 160% !important /*Non-IE6*/;
    font-size: 140% /*IE6*/;
}

.subcontent h5 {
    margin: 1.0em 0 -0.6em 0;
    padding: 0 20px 0 20px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 140% !important /*Non-IE6*/;
    font-size: 125% /*IE6*/;
}

.subcontent h6 {
    margin: 0.4em 0 0.5em 0;
    padding: 0 20px 0 20px;
    color: rgb(50, 50, 50);
    font-weight: normal;
    font-size: 130% !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}

/* Heading - Special icon */
.subcontent h1.menu {
    background: url(../img/icon_celltitle_menu.gif) no-repeat;
    background-position: 225px 5px;
}

.subcontent h1.login {
    background: url(../img/icon_celltitle_login.gif) no-repeat;
    background-position: 229px 5px;
}

.subcontent h1.search {
    background: url(../img/icon_celltitle_search.gif) no-repeat;
    background-position: 225px 5px;
}

.subcontent h1.video {
    background: url(../img/icon_celltitle_video.gif) no-repeat;
    background-position: 231px 5px;
}

.subcontent h1.audio {
    background: url(../img/icon_celltitle_audio.gif) no-repeat;
    background-position: 225px 5px;
}

.subcontent h1.webtemplate {
    background: url(../img/icon_celltitle_webtemplate.gif) no-repeat;
    background-position: 226px 5px;
}

.subcontent h1.document {
    background: url(../img/icon_celltitle_document.gif) no-repeat;
    background-position: 229px 5px;
}

.subcontent h1.blog {
    background: url(../img/icon_celltitle_blog.gif) no-repeat;
    background-position: 233px 5px;
}

.subcontent h1.forum {
    background: url(../img/icon_celltitle_forum.gif) no-repeat;
    background-position: 229px 5px;
}

/* Heading -- Without icon */
.subcontent h1.noicon {
    background: none;
}

.subcontent h2.noicon {
    background: none;
}

/* Paragraph */
.subcontent p {
    margin: 1.0em 0 1.0em 0;
    color: rgb(0, 0, 0);
    line-height: 1.3em;
    padding: 0 20px 0 20px;
    font-size: 131% !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}

.subcontent p.details {
    margin: -0.2em 0 1.0em 0;
    line-height: 1.0em;
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}

.subcontent blockquote {
    clear: both;
    margin: 0 30px 0.6em 30px;
    font-size: 90%;
}

/* List */
.subcontent ul {
    margin: -1.0em 0 -0.5em 0;
    padding: 1.5em 20px 1.0em 20px;
    list-style: none;
}

.subcontent ul li {
    margin: 0 0 0.3em 2px;
    padding: 0 0 0 12px;
    background: url(../img/bg_bullet_square.gif) no-repeat 0 0.5em;
    line-height: 1.3em;
    font-size: 131% !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}

.subcontent ol {
    margin: -1.0em 0 -0.5em 0;
    padding: 1.5em 20px 1.0em 40px !important /*Non-IE6*/;
    padding: 0 20px 0 50px /*IE6*/;
}

.subcontent ol li {
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0 0 0.3em 3px;
    line-height: 1.3em;
    font-size: 131% !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}

.subcontent ul.indent {
    padding: 1.5em 50px 1.0em 50px;
}

.subcontent ol.indent {
    padding: 1.5em 20px 1.0em 70px !important /*Non-IE6*/;
    padding: 0 20px 0 80px /*IE6*/;
}

/* Table */
.subcontent table {
    clear: both;
    width: 230px;
    margin: 2.0em 0 0.2em 20px;
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    background-color: rgb(233, 232, 244);
}

.subcontent table th.top {
    height: 3.5em;
    padding: 0 7px 0 7px;
    empty-cells: show;
    background-color: rgb(175, 175, 175);
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}

.subcontent table th {
    height: 3.0em;
    padding: 2px 20px 2px 7px;
    border: solid 2px rgb(245, 245, 245);
    background-color: rgb(225, 225, 225);
    text-align: left;
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}

.subcontent table td {
    height: 3.0em;
    padding: 2px 7px 2px 7px;
    border: solid 2px rgb(245, 245, 245);
    background-color: rgb(225, 225, 225);
    text-align: left;
    font-weight: normal;
    color: rgb(80, 80, 80);
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}

.subcontent p.caption {
    clear: both;
    margin: 0.5em 0 2.0em 0;
    text-align: left;
    color: rgb(80, 80, 80);
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}

/* Contact form */
.subcontent .contactform {
    width: 230px;
    margin: 1.0em 10px 0 20px;
}

.subcontent .contactform fieldset {
    padding: 10px 0 10px 0 !important /*Non-IE6*/;
    padding: 0 /*IE6*/;
    margin: 0 0 20px 0;
    border: solid 1px rgb(220, 220, 220);
}

.subcontent .contactform fieldset legend {
    margin: 0 0 0 5px !important /*Non-IE*/;
    margin: 0 0 20px 5px /*IE6*/;
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: 131%;
}

.subcontent .contactform label.left {
    float: left;
    width: 85px;
    margin: 0;
    padding: 2px;
    font-size: 100%;
}

.subcontent .contactform select.combo {
    width: 90px;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    font-size: 100%;
}

.subcontent .contactform input.field {
    width: 85px;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    font-size: 100%;
}

.subcontent .contactform textarea {
    width: 178px;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    font-size: 100%;
}

.subcontent .contactform input.button {
    float: left;
    width: 9.0em;
    margin-left: 67px !important /*Non-IE6*/;
    margin-left: 68px /*IE6*/;
    padding: 3px !important /*Non-IE6*/;
    padding: 2px /*IE6*/;
    background: rgb(230, 230, 230);
    border: solid 1px rgb(150, 150, 150);
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 100%;
}

.subcontent .contactform input.button:hover {
    cursor: pointer;
    border: solid 1px rgb(80, 80, 80);
    background: rgb(220, 220, 220);
    color: rgb(80, 80, 80);
}

/* Login form */
.subcontent .loginform {
    width: 230px;
    margin: 10px 20px 0 20px;
}

.subcontent .loginform p {
    clear: both;
    margin: 0;
    padding: 0;
}

.subcontent .loginform fieldset {
    width: 160px;
    border: none;
}

.subcontent .loginform label.top {
    float: left;
    width: 125px;
    margin: 0 0 2px 0;
    font-size: 110%;
}

.subcontent .loginform label.right {
    float: left;
    width: 125px;
    margin: 5px 0 0 0;
    padding: 0 0 0 3px; /*IE6*/;
    font-size: 110%;
}

.subcontent .loginform input.field {
    width: 158px;
    margin: 0 0 5px 0;
    padding: 0.1em 0 0.2em 0 !important /*Non-IE6*/;
    padding: 0.2em 0 0.3em 0 /*IE6*/;
    border: solid 1px rgb(200, 200, 200);
    font-size: 110%;
}

.subcontent .loginform input.checkbox {
    float: left;
    margin: 5px 0 0 0 !important /*Non-IE6*/;
    margin: 2px 0 0 -3px /*IE6*/;
    border: none;
}

.subcontent .loginform input.button {
    float: left;
    width: 5.0em;
    margin: 10px 0 5px 0;
    padding: 1px;
    background: rgb(230, 230, 230);
    border: solid 1px rgb(150, 150, 150);
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 110%;
}

.subcontent .loginform input.button:hover {
    cursor: pointer;
    border: solid 1px rgb(80, 80, 80);
    background: rgb(220, 220, 220);
    color: rgb(80, 80, 80);
}

/* Search form */
.subcontent .searchform {
    width: 230px;
    margin: 10px 20px 0 20px;
}

.subcontent .searchform fieldset {
    border: none;
}

.subcontent .searchform input.field {
    float: left;
    width: 158px;
    padding: 0.1em 0 0.2em 0 !important /*Non-IE6*/;
    padding: 0.2em 0 0.3em 0 /*IE6*/;
    border: 1px solid rgb(200, 200, 200);
    font-size: 120%;
}

.subcontent .searchform input.button {
    clear: both;
    float: left;
    width: 3.0em;
    margin-top: 0.5em;
    padding: 1px;
    background: rgb(230, 230, 230);
    border: solid 1px rgb(150, 150, 150);
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 120%;
}

.subcontent .searchform input.button:hover {
    cursor: pointer;
    border: solid 1px rgb(80, 80, 80);
    background: rgb(220, 220, 220);
    color: rgb(80, 80, 80);
}

/* Side menu */
.sidemenu {
    clear: both;
    width: 270px;
    margin: 0;
    padding: 0;
}

.sidemenu ul {
    width: 270px;
    margin: 0;
    padding: 0;
}

.sidemenu ul li {
    margin: 0;
    padding: 0;
    background: none;
    font-size: 131% !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}

.sidemenu li a {
    display: block;
    min-height: 1.5em;
    height: auto !important /*Non-IE6*/;
    height: 1.5em /*IE-6*/;
    line-height: 1.5em;
    margin: 0;
    padding: 5px 20px 5px 20px;
    border-bottom: solid 1px rgb(200, 200, 200);
    color: rgb(75, 75, 75);
    font-weight: bold;
}

.sidemenu li a:hover {
    background-color: rgb(240, 240, 240);
    color: rgb(75, 75, 75);
    text-decoration: none;
}

.sidemenu li a:visited {
    color: rgb(75, 75, 75);
    text-decoration: none;
}

/* Side menu */
.subcontent .videoplayer {
    width: 224px;
    height: 146px;
    margin: 1.0em 20px 1.0em 20px;
    border: solid 5px rgb(175, 175, 175);
}

.subcontent .audioplayer {
    width: 224px;
    height: 20px;
    margin: 1.0em 20px 1.0em 20px;
    border: solid 5px rgb(175, 175, 175);
}

/**********/
/* IMAGES */
/**********/

.main img {
    clear: both;
    float: left;
    margin: 3px 15px 7px 0;
    border: solid 3px rgb(200, 200, 200);
}

.main img.center {
    clear: both;
    float: none;
    display: block;
    margin: 0 auto;
    border: solid 3px rgb(200, 200, 200);
}

.main img.right {
    clear: both;
    float: right;
    margin: 3px 0 7px 10px;
    border: solid 3px rgb(200, 200, 200);
}

/*********/
/* LINKS */
/*********/

/* Text links */
.main a {
    color: rgb(70, 122, 167);
    font-weight: bold;
    text-decoration: none;
}

.main a:hover {
    color: rgb(42, 90, 138);
    text-decoration: underline;
}

.main a:visited {
    color: rgb(42, 90, 138);
}

/*Image links */
.main a img {
    border: solid 3px rgb(200, 200, 200);
}

.main a:hover img {
    border: solid 3px rgb(175, 175, 175);
}

/******************************************/
/*  ADDITIONAL USER STYLES                */
/*  If you want to add your own styles,   */
/*  then add them here in order to avoid  */
/*  a mixup with the default styles.      */
/******************************************/
