body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#buildStatus {
    color: #777;
}

.pages > .page:target ~ .page:last-child, .pages > .page {
    display: none;
}

/* :last-child works, but for some reason .page:last-child will not */
.pages > :last-child, .pages > .page:target {
    display: block;
}

:target:before {
    content: "";
    display: block;
    height: 60px; /* fixed header height*/
    margin: -60px 0 0;
}

.buildNumber {
    color: rgb(135, 180, 40);
}

/*  Alerts */
.red {
    font-family: verdana, arial, sans serif;
    padding-bottom: 2px;
    color: rgb(206, 65, 55);
    height: 20px;
    font-weight: bold;
    font-size: 18px !important /*Non-IE6*/;
    font-size: 120% /*IE6*/;
}

.green {
    font-family: verdana, arial, sans serif;
    padding-bottom: 2px;
    color: rgb(135, 180, 40);
    height: 20px;
    font-weight: bold;
    font-size: 18px !important /*Non-IE6*/;
    font-size: 120% /*IE6*/;
}

.amber {
    font-family: verdana, arial, sans serif;
    padding-bottom: 2px;
    color: rgb(255, 165, 0);
    height: 20px;
    font-weight: bold;
    font-size: 18px !important /*Non-IE6*/;
    font-size: 90% /*IE6*/;
}

.red_small {
    font-family: verdana, arial, sans serif;
    padding-bottom: 2px;
    color: rgb(206, 65, 55);
    height: 20px;
    font-weight: bold;
    font-size: 12px !important /*Non-IE6*/;
    font-size: 90% /*IE6*/;
}

.green_small {
    font-family: verdana, arial, sans serif;
    padding-bottom: 2px;
    color: rgb(135, 180, 40);
    height: 20px;
    font-weight: bold;
    font-size: 12px !important /*Non-IE6*/;
    font-size: 90% /*IE6*/;
}

.amber_small {
    font-family: verdana, arial, sans serif;
    padding-bottom: 2px;
    color: rgb(255, 165, 0);
    height: 20px;
    font-weight: bold;
    font-size: 12px !important /*Non-IE6*/;
    font-size: 90% /*IE6*/;
}

.grey {
    font-family: verdana, arial, sans serif;
    padding-bottom: 2px;
    color: rgb(125, 125, 125);
    height: 20px;
    font-weight: bold;
    font-size: 18px !important /*Non-IE6*/;
    font-size: 120% /*IE6*/;
}

#appStatus table {
    width: 90%;
    border: 1px;
    column-width: auto;
    align-items: center;
}

#appStatustable th {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
}

#appStatustable td {
    overflow: hidden;
    vertical-align: middle;
}

.status_good {
    background: url(../img/status0.gif) no-repeat;
    background-position: center;
}

.status_bad {
    background: url(../img/status1.gif) no-repeat;
    background-position: center;
}

#content-cell-colleft {
    float: left;
    width: 50%;
}

#content-cell-colright {
    float: right;
    width: 50%;
}

.main a img {
    margin-top: -15px;
    padding: 0px 20px;
    border: none;
}

#appsFeedback {
    margin-left: 10px;
    height: 400px;
    width: 250px;
    border: 1px solid #ccc;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    background-color: rgba(200, 210, 180, 0.36);
    color: black;
}

#siteDate {
    float: right;
    font-family: verdana, arial, sans serif;
    padding: 10px 20px;
    color: rgb(135, 180, 40);
    height: 20px;
    font-weight: normal;
    font-size: 200% !important /*Non-IE6*/;
    font-size: 130% /*IE6*/;
}

.navbar ul li a .on {
    background-color: rgb(161, 191, 94);
}

.accord-content {
    display: none;
}

.accord-header {
    margin: 0;
    margin-Left: 10px;
    padding: 10px 20px 12px 30px;
    border-bottom: solid 1px rgb(215, 215, 215);
    background: url(../img/icon_celltitle_level1.gif) no-repeat;
    /*background-position: 225px 5px;*/
    background-position: left;
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 220% !important /*Non-IE6*/;
    font-size: 200% /*IE6*/;
}

.accord-content {
    margin: 1.0em 0 1.0em 0;
    color: rgb(0, 0, 0);
    line-height: 1.3em;
    padding: 0 20px 0 20px;
    font-size: 14px !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}

#tooltip {
    z-index: 10;
    display: none;
    padding: 5px 5px;
    margin-top: -15px;
    margin-left: 140px;
    width: 220px;
    line-height: 16px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}

#question_mark:hover ~ #tooltip {
    display: inline;
}

#tooltip .green_small {
    font-family: verdana, arial, sans serif;
    /*padding-bottom: 2px;*/
    color: rgb(135, 180, 40);
    /*height: 20px;*/
    font-weight: bold;
    font-size: 14px !important /*Non-IE6*/;
    font-size: 90% /*IE6*/;
}

#tooltip .amber_small {
    font-family: verdana, arial, sans serif;
    /*padding-bottom: 2px;*/
    color: rgb(255, 165, 0);
    /*height: 10px;*/
    font-weight: bold;
    font-size: 14px !important /*Non-IE6*/;
    font-size: 90% /*IE6*/;
}

#tooltip .red_small {
    font-family: verdana, arial, sans serif;
    padding-bottom: 2px;
    color: rgb(206, 65, 55);
    /*height: 20px;*/
    font-weight: bold;
    font-size: 14px !important /*Non-IE6*/;
    font-size: 90% /*IE6*/;
}
